.form {
  display: flexbox;
  margin-top: 5%;
}

.input {
  border: 1px black solid;
  border-radius: 0;
  /* padding: 1px; */
  width: 70%;
  font-size: 1.2em;
  height: 40px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  /* padding: 1px; */
  display: inline-block;
  border: none;
  width: 30%;
  height: 40px;
  margin-bottom: 5px;
  border-radius: 20%;
  font-size: 20px;
}