.form{
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-size: 25px;
}

.cells{
    border-radius: 15px;
    border: 1px solid black;
    width: 70%;
    height: 50px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.createbuttons{
    background-color: #FBD249;
    width: 150px;
    height: 44px;
    align-content: center;
    border-radius: 20px;
    margin-left: 30%;
    margin-top: 15px;
    color: white;
}

.backbuttonX{
    background-color: #0F2025;
    border: 1px solid #0F2025;
    color: white;
    width: 120px;
    height: 44px;
    font-size: 20px;
    /* align-content: center; */
    border-radius: 20px;
    margin-top: 5%;
    padding: 0;
}

.createtitle{
    color: white;
    margin: 0px 20px 20px 20px;
    text-align: center;
}

.full-page{
    background-color: #0F2025;
    padding: 0;
    overflow-y: scroll;
}

.fillingText{
    text-align: left;
    align-content: left;
    color: white;
    margin: 5px;
    font-size: 27px;
}