.groupschart{
    border: 3px #8EDCF2 solid;
    background-color: #0F2025;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    width: 70%;
    margin: 20px 0px 30px 16%;
}

.element-name{
    font-size: 30px;
    color: white;
    margin-top: 5px;
}


.backbutton{
    background-color: #0F2025;
    border: 1px solid #0F2025;
    color: white;
    width: 120px;
    height: 44px;
    font-size: 20px;
    /* align-content: center; */
    border-radius: 20px;
    margin-top: 5%;
    padding: 0;
    /* margin-left: -35%; */
}

.title{
    color: pink;
}

.full-website{
    background-color: #0F2025;
    padding: 0;
    height: 100%;
    overflow-y: scroll;
    align-items: center;

}

.container{
    padding: 0;
}

.h2text{
    text-align: center;
    color: white;
    margin-bottom: 40px;
}