.groupschart{
    border: 1px black solid;
    background-color: chartreuse;
    border-radius: 40px;
    text-align: center;
    align-items: center;
    width: 70%;
    margin: 20px 0px 20px 16%;
}

.element-name{
    font-size: 25px;
    color: red;
    margin-top: 5px;
}

.element-description{
    font-size: 18px;
    color: blue;
}

.backbutton{
    border: 1px solid black;
    width: 120px;
    height: 44px;
    align-content: center;
    border-radius: 20px;
    margin-left: 2%;
    margin-top: 5%;
    color: red;
}

.title{
    color: pink;
}

.entire{
    background-color: #EDF1F4;
    padding: 0;
    overflow-y: scroll;
    align-items: center;

}

.container{
    padding: 0;
}

.h2text{
    text-align: center;
    color: violet;
}