.buttons{
    margin-top: 30px;
    width: 70%;
    height: 44px;
    margin-left: 15%;
    background-color: salmon;
    color: yellow;
}

.header{
    align-content: center;
    text-align: center;
}

.homepage{
    color: red;
}

.logoheader{
    width: 280px;
    height: 280px;
    align-items: center;
    margin-top: 40px;
}

.loginbtn{
    border: 3px solid #FBD249;
    background-color: #0F2025;
    font-size: 26px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    width: 60%;
    height: 44px;
    margin-left: 20%;
    margin-top: 40px;

}

.signupbtn{
    border: 3px solid #8EDCF2;
    background-color: #0F2025;
    font-size: 26px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    width: 60%;
    height: 44px;
    margin-left: 20%;
    margin-top: 40px;
}

.entire{
    background-color: #EDF1F4;
    padding: 0;
    overflow: hidden;

}

.container{
    padding: 0;
}