.entire{
    background-color: #0F2025;
    padding: 0;
    overflow-y: scroll;
}

.backbuttonG{
    background-color: #0F2025;
    border: 1px solid #0F2025;
    color: white;
    width: 120px;
    height: 44px;
    font-size: 20px;
    /* align-content: center; */
    border-radius: 20px;
    margin-top: 5%;
    padding: 0;
}

.groupname{
    color: white;
    text-align: center;
    font-size: 30px;
}

.leavegroup{
    background-color: #0F2025;
    border: 3px solid #8EDCF2;
    width: 120px;
    height: 44px;
    color: white;
    align-content: center;
    border-radius: 20px;
}

.description{
    color: white;
    font-size: 20px;
}

.lastbuttons{
    
flex-direction: row;
display: flex;
justify-content: space-around;
margin: 15px;}

.deletebtn{
    background-color: #0F2025;
    border: 3px solid #FBD249;
    color: white;
    width: 120px;
    height: 44px;
    align-content: center;
    border-radius: 20px;
}


.participantsTitle{
    color: white;
    margin-left: 10px;
}

.participants{
   color: white;
   margin-left: 15px;
}