.backbutton{
    background-color: #0F2025;
    border: 1px solid #0F2025;
    color: white;
    width: 120px;
    height: 44px;
    font-size: 20px;
    /* align-content: center; */
    border-radius: 20px;
    margin-top: 5%;
    padding: 0;
    /* margin-left: -35%; */
}

.title{
    color: white;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 100px;
    text-align: center;
}

.entercode{
   color: white; 
}

.button{
    border: black 1px solid;
    width: 70%;
    height: 44px;
}

.form{
    align-content: center;
    margin-top: 30%;
}



.field{
border-radius: 20px;
width: 80%;
height: 60px;
}

.allpage{
    background-color: #0F2025;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
}

.joinbutton{
    background-color: #FBD249;
    color: white;
    border-radius: 20px;
    width: 50%;
    height: 44px;
}