.logo{
    width: 250px;
    height: 250px;
    align-items: center;
    margin-left: 60px;
}

.login-button{
    border: 3px solid #FBD249;
    background-color: #0F2025;
    font-size: 26px;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
    width: 40%;
    height: 44px;
    margin-left: 30%;
}

.userpw{
    font-size: 34px;
    margin-left: 15%;
    color: white;
    margin-top: 10px;
}

.login-form{
    border: 1px solid #0F2025;
    margin-left: 15%;
    border-radius: 10px;
    width: 70%;
    height: 44px;
}
.donthaveaccount{
color: white;
text-align: center;

}

.notaccountLink{
color: #8EDCF2;

}

.entire{
    background-color: #EDF1F4;
    padding: 0;
    overflow: hidden;

}

.container{
    padding: 0;
}

.loginlogo{
    text-align: center;
    color: white;
}

/* background-color: #EDF1F4; */
