.formulari{
    border: 1px solid black;
    border-radius: 10px;
    height: 44px;
    width: 70%;
    margin-left: 15%;
    margin-top: 14px;
}

.userpw{
    font-size: 34px;
    margin-left: 27%;
}

.signup-button{
    border: 3px solid #8EDCF2;
    background-color: #0F2025;
    border-radius: 10px;
    color: white;
    font-size: 26px;
    margin-top: 20px;
    width: 40%;
    height: 44px;
    margin-left: 30%;
    margin-top: 42px;
}

.haveaccount{
    color: white;
    text-align: center;
    margin-top: 10px;
    
    }
    
.accountLink{
    color: #FBD249;
    }

.signuptext{
    margin: 30px;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.entire{
    background-color: #EDF1F4;
    padding: 0;
    height: 100%;
    overflow: hidden;

}

.container{
    padding: 0;
}